.connect-wallet-h3 {
  line-height: 29.98px;
  font-size: 24px;
  font-weight: 700;
  padding: 0 1.5rem;
}
.connect-wallet-p {
  color: #333333;
}
.metamask-wallet {
  background: #f8f9fa;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
}
.mm-flex,
.wc-flex {
  display: inline-flex;
  gap: 1rem;
}
.wallets {
  border-top: 1px solid #cfd8dc;
  padding: 1rem 1.5rem;
}
.walletconnect-wallet {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  background: #f8f9fa;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  margin: 1rem 0;
}
