button {
  border: none;
  background: transparent;
}
[data-popup="tooltip"].popup-overlay {
  background: rgb(0, 0, 0, 0.6);
}
.modal {
  font-size: 14px;
  width: auto;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  padding: 2px 5px;
  line-height: 20px;
  right: 25px;
  top: 25px;
  font-size: 48px;
}
.popup-content {
  margin: auto;
  width: 600px;
  border-radius: 1rem;
}
@media only screen and (max-width: 600px) {
  .popup-content {
    margin: auto;
    width: 330px;
    border-radius: 1rem;
  }
}
